<nav class="cover-navigation navigation--social">
    <ul class="navigation">
  
  
    {{ if  .Site.Params.social.github }}
    <!-- Github -->
    <li class="navigation__item">
      <a href="https://github.com/{{ .Site.Params.social.github}}" title="@{{ .Site.Params.social.github}} 的 Github" target="_blank">
        <i class='social fa fa-github'></i>
        <span class="label">Github</span>
      </a>
    </li>
    {{ end }}
    
    {{ if  .Site.Params.social.twitter }}
    <!-- Twitter -->
    <li class="navigation__item">
      <a href="http://twitter.com/{{ .Site.Params.social.twitter}}" title="@{{ .Site.Params.social.twitter}}" target="_blank">
        <i class='social fa fa-twitter'></i>
        <span class="label">Twitter</span>
      </a>
    </li>
    {{ end }}
  
  
  
    {{ if  .Site.Params.social.mail }}
    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:{{ .Site.Params.social.mail}}" title="Contactez-moi">
        <i class='social fa fa-envelope'></i>
        <span class="label">Email</span>
      </a>
    </li>
    {{ end }}
  
    </ul>
  </nav>
  